/* public/css/master.css */

.contact .contact-form,
.contact-index ul{
	max-width: 500px;
}
.contact h2{
	color: tomato;
}
.contact .contact-form label,
.contact-show label{
	display: inline-block;
	width: 50px;
}
.contact .contact-menu form{
	display: inline-block;
}