<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %> <!-- 1 -->
</head>
<body>
<% include ../partials/nav %> <!-- 2 -->

<div class="container contact contact-index">
    <h2>Index</h2>
    <ul class="list-group">
        <% contacts.forEach(function(contact) { %> <!-- 3 -->
        <li class="list-group-item">
            <a href="/contacts/<%= contact._id %>"><%= contact.name %></a> <!-- 1 -->
        </li>
        <% }) %>
    </ul>
</div>
</body>
</html>